In [1]:
from datetime import datetime

import pandas as pd

In [2]:
start_date = datetime(2024, 1, 1)

end_date = datetime(2029, 1, 1)

date_range = pd.date_range(start_date, end_date)
date_range

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10',
               ...
               '2028-12-23', '2028-12-24', '2028-12-25', '2028-12-26',
               '2028-12-27', '2028-12-28', '2028-12-29', '2028-12-30',
               '2028-12-31', '2029-01-01'],
              dtype='datetime64[ns]', length=1828, freq='D')

In [5]:
date_df = pd.DataFrame(date_range, columns=['date'])
date_df

           date
0    2024-01-01
1    2024-01-02
2    2024-01-03
3    2024-01-04
4    2024-01-05
...         ...
1823 2028-12-28
1824 2028-12-29
1825 2028-12-30
1826 2028-12-31
1827 2029-01-01

[1828 rows x 1 columns]

In [11]:
date_df['year'] = date_df['date'].dt.year
date_df['month'] = date_df['date'].dt.month
date_df['day'] = date_df['date'].dt.day
date_df['dayofweek'] = date_df['date'].dt.dayofweek + 1
date_df['is_weekend'] = date_df['dayofweek'].isin([6, 7])
date_df

           date  year  month  day  dayofweek   daynames  is_weekend
0    2024-01-01  2024      1    1          1     Monday       False
1    2024-01-02  2024      1    2          2    Tuesday       False
2    2024-01-03  2024      1    3          3  Wednesday       False
3    2024-01-04  2024      1    4          4   Thursday       False
4    2024-01-05  2024      1    5          5     Friday       False
...         ...   ...    ...  ...        ...        ...         ...
1823 2028-12-28  2028     12   28          4   Thursday       False
1824 2028-12-29  2028     12   29          5     Friday       False
1825 2028-12-30  2028     12   30          6   Saturday        True
1826 2028-12-31  2028     12   31          7     Sunday        True
1827 2029-01-01  2029      1    1          1     Monday       False

[1828 rows x 7 columns]

In [12]:
date_df.to_csv('date_dimension.csv', index=False)