In [5]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import os

import pandas as pd
pd.set_option('display.max_columns', 30)
import requests

In [6]:
current_datetime = datetime.now() - relativedelta(month=2)

formatted_datetime = current_datetime.strftime('%Y-%m-%d')

url = f"https://data.cityofchicago.org/resource/ajtu-isnz.json?$where=trip_start_timestamp >= '{formatted_datetime}T00:00:00' AND trip_start_timestamp <= '{formatted_datetime}T23:59:59'&$limit=30000"

headers = {"X-App-Token": os.environ.get("CHICAGO_API_TOKEN")}

response = requests.get(url)

data = response.json()

In [7]:
taxi_trips = pd.DataFrame(data)

In [8]:
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,dropoff_census_tract
0,61b57f00bf024b5113c1c46e230c1e5f3220d122,db39bc53c7204111f0786edff94251c636dcce5fec8dbe...,2024-02-26T23:45:00.000,2024-02-26T23:45:00.000,0,0,17031980100,56,3.25,0,0,0,3.25,Cash,Taxi Affiliation Services,41.785998518,-87.750934289,"{'type': 'Point', 'coordinates': [-87.75093428...",NaN,NaN,NaN,NaN,NaN
1,6e2fc52bec4a36c92824f30ebf3941336cb9136c,75cf3a53aae5e5858361a7ca64f75d3407dc0a44d7bc42...,2024-02-26T23:45:00.000,2024-02-27T00:00:00.000,969,8.07,NaN,8,22.25,0,0,0,22.25,Prcard,City Service,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",2,42.001571027,-87.695012589,"{'type': 'Point', 'coordinates': [-87.69501258...",NaN
2,6e9f4ddec79c5dc3f2785701a9a987bf74b7a5f2,ff60dabe17243a25435dcaf430a8b31615374bfc6be841...,2024-02-26T23:45:00.000,2024-02-27T00:15:00.000,1512,18.55,NaN,8,45.5,0,0,0,45.5,Prcard,Flash Cab,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",49,41.706587882,-87.623366512,"{'type': 'Point', 'coordinates': [-87.62336651...",NaN
3,6ea9005378d092132c2b57c1d850b0b0913aae2c,2e7b473cca64c31970ee618ef46c144c6be74567c18a18...,2024-02-26T23:45:00.000,2024-02-27T00:15:00.000,1320,17.3,NaN,76,42.5,7,0,4,53.5,Credit Card,Chicago City Taxi Association,41.980264315,-87.913624596,"{'type': 'Point', 'coordinates': [-87.91362459...",8,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",NaN
4,774c2fc4ff0a3c3d0ac11d551c8d278310ef48d5,deec568f18d18fb40292b918b82311ac8006ada6a8a1ff...,2024-02-26T23:45:00.000,2024-02-27T00:00:00.000,1555,17.45,17031980000,76,43.25,11.94,0,4,59.69,Credit Card,City Service,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031839100

In [10]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15523 entries, 0 to 15522
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     15523 non-null  object
 1   taxi_id                     15523 non-null  object
 2   trip_start_timestamp        15523 non-null  object
 3   trip_end_timestamp          15523 non-null  object
 4   trip_seconds                15522 non-null  object
 5   trip_miles                  15523 non-null  object
 6   pickup_census_tract         6043 non-null   object
 7   pickup_community_area       15034 non-null  object
 8   fare                        15472 non-null  object
 9   tips                        15472 non-null  object
 10  tolls                       15472 non-null  object
 11  extras                      15472 non-null  object
 12  trip_total                  15472 non-null  object
 13  payment_type                15523 non-null  object
 14  company                     15523 non-null  object
 15  pickup_centroid_latitude    15047 non-null  object
 16  pickup_centroid_longitude   15047 non-null  object
 17  pickup_centroid_location    15047 non-null  object
 18  dropoff_community_area      13835 non-null  object
 19  dropoff_centroid_latitude   13958 non-null  object
 20  dropoff_centroid_longitude  13958 non-null  object
 21  dropoff_centroid_location   13958 non-null  object
 22  dropoff_census_tract        5728 non-null   object
dtypes: object(23)
memory usage: 2.7+ MB

In [11]:
taxi_trips.describe()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,dropoff_census_tract
count,15523,15523,15523,15523,15522,15523,6043,15034,15472,15472,15472,15472,15472,15523,15523,15047,15047,15047,13835,13958,13958,13958,5728
unique,15523,2147,96,105,2992,2273,62,76,946,930,23,168,1997,7,31,138,138,138,77,165,165,165,94
top,61b57f00bf024b5113c1c46e230c1e5f3220d122,5d7636d4b116cb2074313e3aa986f60e6a2c6e9d139ee1...,2024-02-26T16:45:00.000,2024-02-26T16:45:00.000,0,0,17031980000,76,9,0,0,0,3.25,Credit Card,Flash Cab,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",8,41.899602111,-87.633308037,"{'type': 'Point', 'coordinates': [-87.63330803...",17031839100
freq,1,37,307,289,353,1505,2132,4092,563,7972,15351,9918,417,6071,3597,2132,2132,2132,3162,1333,1333,1333,1145

In [12]:
taxi_trips[taxi_trips['fare'].isna()].sample(5)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,pickup_community_area,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_community_area,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location,dropoff_census_tract
6648,fa4df2ef75136b806c3f9d35c4db23266fa4e5b2,5d7636d4b116cb2074313e3aa986f60e6a2c6e9d139ee1...,2024-02-26T15:00:00.000,2024-02-26T15:00:00.000,26,0.12,17031839100,32,NaN,NaN,NaN,NaN,NaN,Cash,City Service,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031839100
6131,f1f21be2317c4a20a0748b1230f9fb4c076c6c62,949b2b62a50681d3d1b5b44d94ee42384a57fd625d30d0...,2024-02-26T15:30:00.000,2024-02-26T15:30:00.000,44,0.24,17031839100,32,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031839100
8054,a485956d132bcfd7103eed562165cc63eb5ec3ad,a79085175f766b61aa2ed8e09960e466cc7c20c8539a0e...,2024-02-26T13:45:00.000,2024-02-26T13:45:00.000,NaN,0,17031980000,76,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",76,41.97907082,-87.903039661,"{'type': 'Point', 'coordinates': [-87.90303966...",17031980000
12071,7115a67a97dd3a7f8cb19cc25df70f874e7ac13e,cf2a68db5901a09fcd9e5dc71f266d1416653e8200673a...,2024-02-26T09:45:00.000,2024-02-26T09:45:00.000,415,1,17031320100,32,NaN,NaN,NaN,NaN,NaN,Credit Card,Chicago Independents,41.884987192,-87.620992913,"{'type': 'Point', 'coordinates': [-87.62099291...",32,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",17031839100
14399,99b2e51e0eca0aa1acd53c3848cebf0d67809c76,b00d068cb3939b6cd5e364fe9d96bcef8252fcecb7ce42...,2024-02-26T07:00:00.000,2024-02-26T07:00:00.000,455,1.53,17031839100,32,NaN,NaN,NaN,NaN,NaN,Cash,Taxicab Insurance Agency Llc,41.880994471,-87.632746489,"{'type': 'Point', 'coordinates': [-87.63274648...",8,41.89503345,-87.619710672,"{'type': 'Point', 'coordinates': [-87.61971067...",17031081401

#### Transformation: deal with NaN values

In [13]:
taxi_trips.drop(['pickup_census_tract', 'dropoff_census_tract'], axis=1, inplace=True)

In [14]:
taxi_trips.drop(['pickup_centroid_location', 'dropoff_centroid_location'], axis=1, inplace=True)

In [27]:
taxi_trips.dropna(inplace=True)
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13673 entries, 1 to 15521
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     13673 non-null  object
 1   taxi_id                     13673 non-null  object
 2   trip_start_timestamp        13673 non-null  datetime64[ns]
 3   trip_end_timestamp          13673 non-null  object
 4   trip_seconds                13673 non-null  object
 5   trip_miles                  13673 non-null  object
 6   pickup_community_area_id    13673 non-null  object
 7   fare                        13673 non-null  object
 8   tips                        13673 non-null  object
 9   tolls                       13673 non-null  object
 10  extras                      13673 non-null  object
 11  trip_total                  13673 non-null  object
 12  payment_type                13673 non-null  object
 13  company                     13673 non-null  object
 14  pickup_centroid_latitude    13673 non-null  object
 15  pickup_centroid_longitude   13673 non-null  object
 16  dropoff_community_area_id   13673 non-null  object
 17  dropoff_centroid_latitude   13673 non-null  object
 18  dropoff_centroid_longitude  13673 non-null  object
 19  datetime_for_weather        13673 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(18)
memory usage: 2.2+ MB

#### Transformation: renaming

In [15]:
taxi_trips.rename(columns={'pickup_community_area': 'pickup_community_area_id', 
                           'dropoff_community_area': 'dropoff_community_area_id'}, inplace=True)

#### Transformation: create helper column for weather

In [16]:
taxi_trips['trip_start_timestamp'] = pd.to_datetime(taxi_trips['trip_start_timestamp'])

In [18]:
taxi_trips['datetime_for_weather'] = taxi_trips['trip_start_timestamp'].dt.floor('h')

#### Check joining the trips and the weather data

In [20]:
# Get weather data, and create a dataframe out of it

current_datetime = datetime.now() - relativedelta(month=2)
formatted_datetime = current_datetime.strftime('%Y-%m-%d')

url = "https://archive-api.open-meteo.com/v1/era5"

params = {
    'latitude': 41.85,
    'longitude': -87.65,
    'start_date': formatted_datetime,
    'end_date': formatted_datetime,
    'hourly': 'temperature_2m,wind_speed_10m,rain,precipitation'
}

response = requests.get(url, params=params)
weather_data = response.json()

weather_data_filtered = {
    'datetime': weather_data['hourly']['time'],
    'temperature': weather_data['hourly']['temperature_2m'],
    'wind_speed': weather_data['hourly']['wind_speed_10m'],
    'rain': weather_data['hourly']['rain'],
    'precipitation': weather_data['hourly']['precipitation']
}

weather_df = pd.DataFrame(weather_data_filtered)
weather_df['datetime'] = pd.to_datetime(weather_df['datetime'] )

weather_df.head()

             datetime  temperature  wind_speed  rain  precipitation
0 2024-02-26 00:00:00          9.3        15.1   0.0            0.0
1 2024-02-26 01:00:00          9.7        14.1   0.0            0.0
2 2024-02-26 02:00:00          8.4        14.5   0.0            0.0
3 2024-02-26 03:00:00          7.2        13.3   0.0            0.0
4 2024-02-26 04:00:00          6.3        10.9   0.0            0.0

In [21]:
taxi_trips_with_weather = taxi_trips.merge(weather_df, left_on='datetime_for_weather', right_on='datetime')

In [22]:
taxi_trips_with_weather.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather,datetime,temperature,wind_speed,rain,precipitation
0,61b57f00bf024b5113c1c46e230c1e5f3220d122,db39bc53c7204111f0786edff94251c636dcce5fec8dbe...,2024-02-26 23:45:00,2024-02-26T23:45:00.000,0,0,56,3.25,0,0,0,3.25,Cash,Taxi Affiliation Services,41.785998518,-87.750934289,NaN,NaN,NaN,2024-02-26 23:00:00,2024-02-26 23:00:00,16.1,22.8,0.0,0.0
1,6e2fc52bec4a36c92824f30ebf3941336cb9136c,75cf3a53aae5e5858361a7ca64f75d3407dc0a44d7bc42...,2024-02-26 23:45:00,2024-02-27T00:00:00.000,969,8.07,8,22.25,0,0,0,22.25,Prcard,City Service,41.899602111,-87.633308037,2,42.001571027,-87.695012589,2024-02-26 23:00:00,2024-02-26 23:00:00,16.1,22.8,0.0,0.0
2,6e9f4ddec79c5dc3f2785701a9a987bf74b7a5f2,ff60dabe17243a25435dcaf430a8b31615374bfc6be841...,2024-02-26 23:45:00,2024-02-27T00:15:00.000,1512,18.55,8,45.5,0,0,0,45.5,Prcard,Flash Cab,41.899602111,-87.633308037,49,41.706587882,-87.623366512,2024-02-26 23:00:00,2024-02-26 23:00:00,16.1,22.8,0.0,0.0
3,6ea9005378d092132c2b57c1d850b0b0913aae2c,2e7b473cca64c31970ee618ef46c144c6be74567c18a18...,2024-02-26 23:45:00,2024-02-27T00:15:00.000,1320,17.3,76,42.5,7,0,4,53.5,Credit Card,Chicago City Taxi Association,41.980264315,-87.913624596,8,41.899602111,-87.633308037,2024-02-26 23:00:00,2024-02-26 23:00:00,16.1,22.8,0.0,0.0
4,774c2fc4ff0a3c3d0ac11d551c8d278310ef48d5,deec568f18d18fb40292b918b82311ac8006ada6a8a1ff...,2024-02-26 23:45:00,2024-02-27T00:00:00.000,1555,17.45,76,43.25,11.94,0,4,59.69,Credit Card,City Service,41.97907082,-87.903039661,32,41.880994471,-87.632746489,2024-02-26 23:00:00,2024-02-26 23:00:00,16.1,22.8,0.0,0.0

#### Transformation: data type conversion

In [23]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15523 entries, 0 to 15522
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     15523 non-null  object
 1   taxi_id                     15523 non-null  object
 2   trip_start_timestamp        15523 non-null  datetime64[ns]
 3   trip_end_timestamp          15523 non-null  object
 4   trip_seconds                15522 non-null  object
 5   trip_miles                  15523 non-null  object
 6   pickup_community_area_id    15034 non-null  object
 7   fare                        15472 non-null  object
 8   tips                        15472 non-null  object
 9   tolls                       15472 non-null  object
 10  extras                      15472 non-null  object
 11  trip_total                  15472 non-null  object
 12  payment_type                15523 non-null  object
 13  company                     15523 non-null  object
 14  pickup_centroid_latitude    15047 non-null  object
 15  pickup_centroid_longitude   15047 non-null  object
 16  dropoff_community_area_id   13835 non-null  object
 17  dropoff_centroid_latitude   13958 non-null  object
 18  dropoff_centroid_longitude  13958 non-null  object
 19  datetime_for_weather        15523 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(18)
memory usage: 2.4+ MB

In [25]:
taxi_trips.head()

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
0,61b57f00bf024b5113c1c46e230c1e5f3220d122,db39bc53c7204111f0786edff94251c636dcce5fec8dbe...,2024-02-26 23:45:00,2024-02-26T23:45:00.000,0,0,56,3.25,0,0,0,3.25,Cash,Taxi Affiliation Services,41.785998518,-87.750934289,NaN,NaN,NaN,2024-02-26 23:00:00
1,6e2fc52bec4a36c92824f30ebf3941336cb9136c,75cf3a53aae5e5858361a7ca64f75d3407dc0a44d7bc42...,2024-02-26 23:45:00,2024-02-27T00:00:00.000,969,8.07,8,22.25,0,0,0,22.25,Prcard,City Service,41.899602111,-87.633308037,2,42.001571027,-87.695012589,2024-02-26 23:00:00
2,6e9f4ddec79c5dc3f2785701a9a987bf74b7a5f2,ff60dabe17243a25435dcaf430a8b31615374bfc6be841...,2024-02-26 23:45:00,2024-02-27T00:15:00.000,1512,18.55,8,45.5,0,0,0,45.5,Prcard,Flash Cab,41.899602111,-87.633308037,49,41.706587882,-87.623366512,2024-02-26 23:00:00
3,6ea9005378d092132c2b57c1d850b0b0913aae2c,2e7b473cca64c31970ee618ef46c144c6be74567c18a18...,2024-02-26 23:45:00,2024-02-27T00:15:00.000,1320,17.3,76,42.5,7,0,4,53.5,Credit Card,Chicago City Taxi Association,41.980264315,-87.913624596,8,41.899602111,-87.633308037,2024-02-26 23:00:00
4,774c2fc4ff0a3c3d0ac11d551c8d278310ef48d5,deec568f18d18fb40292b918b82311ac8006ada6a8a1ff...,2024-02-26 23:45:00,2024-02-27T00:00:00.000,1555,17.45,76,43.25,11.94,0,4,59.69,Credit Card,City Service,41.97907082,-87.903039661,32,41.880994471,-87.632746489,2024-02-26 23:00:00

In [28]:
data_types = {
    'trip_end_timestamp': 'datetime64[ns]',
    'trip_seconds': 'int32',
    'trip_miles': 'float',
    'pickup_community_area_id': 'int8',
    'dropoff_community_area_id': 'int8',
    'fare': 'float',
    'tips': 'float',
    'tolls': 'float',
    'extras': 'float',
    'trip_total': 'float'
}

taxi_trips = taxi_trips.astype(data_types)

In [30]:
taxi_trips.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13673 entries, 1 to 15521
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   trip_id                     13673 non-null  object
 1   taxi_id                     13673 non-null  object
 2   trip_start_timestamp        13673 non-null  datetime64[ns]
 3   trip_end_timestamp          13673 non-null  datetime64[ns]
 4   trip_seconds                13673 non-null  int32
 5   trip_miles                  13673 non-null  float64
 6   pickup_community_area_id    13673 non-null  int8
 7   fare                        13673 non-null  float64
 8   tips                        13673 non-null  float64
 9   tolls                       13673 non-null  float64
 10  extras                      13673 non-null  float64
 11  trip_total                  13673 non-null  float64
 12  payment_type                13673 non-null  object
 13  company                     13673 non-null  object
 14  pickup_centroid_latitude    13673 non-null  object
 15  pickup_centroid_longitude   13673 non-null  object
 16  dropoff_community_area_id   13673 non-null  int8
 17  dropoff_centroid_latitude   13673 non-null  object
 18  dropoff_centroid_longitude  13673 non-null  object
 19  datetime_for_weather        13673 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(6), int32(1), int8(2), object(8)
memory usage: 2.0+ MB

#### Sanity check

In [31]:
taxi_trips.describe()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,dropoff_community_area_id,datetime_for_weather
count,13673,13673,13673.000000,13673.000000,13673.000000,13673.000000,13673.000000,13673.000000,13673.000000,13673.000000,13673.000000,13673
mean,2024-02-26 13:47:57.195933696,2024-02-26 14:07:15.156878336,1151.976742,6.841183,37.662839,22.196429,2.770785,0.003367,1.317908,26.461093,26.767059,2024-02-26 13:25:38.155489280
min,2024-02-26 00:00:00,2024-02-26 00:00:00,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2024-02-26 00:00:00
25%,2024-02-26 10:00:00,2024-02-26 10:30:00,474.000000,0.980000,8.000000,7.750000,0.000000,0.000000,0.000000,9.750000,8.000000,2024-02-26 10:00:00
50%,2024-02-26 14:00:00,2024-02-26 14:15:00,960.000000,3.570000,32.000000,17.750000,0.000000,0.000000,0.000000,19.900000,28.000000,2024-02-26 14:00:00
75%,2024-02-26 17:30:00,2024-02-26 18:00:00,1665.000000,12.400000,72.000000,35.250000,4.250000,0.000000,4.000000,43.900000,32.000000,2024-02-26 17:00:00
max,2024-02-26 23:45:00,2024-02-27 21:15:00,77907.000000,78.180000,77.000000,227.750000,25.000000,6.000000,73.000000,227.750000,77.000000,2024-02-26 23:00:00
std,NaN,NaN,1373.814212,6.828809,26.436087,16.075328,3.860990,0.120447,2.789950,19.960628,20.657842,NaN

In [32]:
taxi_trips[taxi_trips['trip_end_timestamp'] == taxi_trips['trip_end_timestamp'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
24,c8ff2869a52475adaa1b1067c685764295c3a926,4cf389626b3d1df35aef815a964571fd5ea7dddda01e56...,2024-02-26 23:45:00,2024-02-27 21:15:00,77907,6.93,77,25.25,0.0,0.0,0.0,25.25,Cash,Flash Cab,41.9867118,-87.663416405,76,41.980264315,-87.913624596,2024-02-26 23:00:00

In [33]:
taxi_trips[taxi_trips['trip_seconds'] == taxi_trips['trip_seconds'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
24,c8ff2869a52475adaa1b1067c685764295c3a926,4cf389626b3d1df35aef815a964571fd5ea7dddda01e56...,2024-02-26 23:45:00,2024-02-27 21:15:00,77907,6.93,77,25.25,0.0,0.0,0.0,25.25,Cash,Flash Cab,41.9867118,-87.663416405,76,41.980264315,-87.913624596,2024-02-26 23:00:00

In [34]:
taxi_trips[taxi_trips['fare'] == taxi_trips['fare'].max()]

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
11257,977d9a17d1cea52dc9a965c60ccef5a4c240333f,a2e9bf93ca68fbf4e62a4f759afeeecc8853444d0f3218...,2024-02-26 10:30:00,2024-02-26 15:30:00,18105,78.18,48,227.75,0.0,0.0,0.0,227.75,Cash,Blue Ribbon Taxi Association,41.729676423,-87.572717134,28,41.874005383,-87.66351755,2024-02-26 10:00:00

In [36]:
taxi_trips.nlargest(5, 'fare')

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_community_area_id,fare,tips,tolls,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_community_area_id,dropoff_centroid_latitude,dropoff_centroid_longitude,datetime_for_weather
11257,977d9a17d1cea52dc9a965c60ccef5a4c240333f,a2e9bf93ca68fbf4e62a4f759afeeecc8853444d0f3218...,2024-02-26 10:30:00,2024-02-26 15:30:00,18105,78.18,48,227.75,0.0,0.0,0.0,227.75,Cash,Blue Ribbon Taxi Association,41.729676423,-87.572717134,28,41.874005383,-87.66351755,2024-02-26 10:00:00
7885,a326bda9a9de299f3bf454eef10e1a492786d058,5bfb9541130de6ef19718fe402d5734e08bfd567afa2ae...,2024-02-26 14:00:00,2024-02-26 17:15:00,11203,47.77,8,139.50,0.0,0.0,0.0,139.50,Cash,Blue Ribbon Taxi Association,41.899602111,-87.633308037,13,41.983636307,-87.723583185,2024-02-26 14:00:00
14736,7790716aa9f353af60680eda0e30281ee84c2637,866cc00237dc2675dba272ee5a1b4095cce340183a7056...,2024-02-26 06:15:00,2024-02-26 09:00:00,9544,38.08,76,117.75,0.0,0.0,0.0,117.75,Cash,Blue Ribbon Taxi Association,41.97907082,-87.903039661,56,41.785998518,-87.750934289,2024-02-26 06:00:00
15156,479e77acde20424a3a7cdb200af23f6fa15df867,1d68f4a1c3b620f920838643bf3801e757b6791f86700a...,2024-02-26 03:15:00,2024-02-26 08:45:00,19492,2.31,76,114.75,0.0,0.0,0.0,114.75,Cash,Sun Taxi,41.980264315,-87.913624596,76,41.980264315,-87.913624596,2024-02-26 03:00:00
10599,64071e6269c00014a22b7d92f9758270542fd67f,3fa4b1d2887a8aa4c0f95944c6a63f27785b52571d12e6...,2024-02-26 11:15:00,2024-02-26 11:15:00,8,0.00,8,108.00,0.0,0.0,0.0,108.00,Cash,Tac - Yellow Cab Association,41.890922026,-87.618868355,8,41.890922026,-87.618868355,2024-02-26 11:00:00